.rm_font {
   font-size: 24px !important;
   text-indent: 22.75px !important;
   text-align: left !important;
   text-size-adjust: 100% !important;
   word-break: break-word !important;
   line-height: 41.6px !important;
   user-select: auto !important;
}