.svg-div {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   visibility: visible;
}

.svg-button {
   /* Remove default button styles */
   width: 60px;
   height: 60px;
   background: none;
   border: none;
   cursor: pointer;
   color: #9d3400;
   display: inline-flex;
   align-items: center;
}

/* Change fill color on hover */
.svg-button:hover {
   color: #007bff;
   /* This color is inherited by the SVG fill */
}

/* Style the SVG icon specifically */
.icon-svg {
   width: 60px;
   height: 60px;
   /* Smooth transition for color change */
   transition: fill 0.3s ease;
   transform-box: fill-box;
   transform-origin: center;
}

.svg-path-empty {
   fill: currentColor;
   fill-rule: evenodd;
}

.svg-path-full {
   fill: currentColor;
   fill-rule: nonzero;
}